:root{
    --dark-primary-color: rgb(12, 48, 87);
    --light-primary-color: #BBDEFB;
    --primary-color: #2196F3;
    --text: #ffffff;
    --accent-color: #009688;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
    --body-font: 'Source Sans Pro', sans-serif;
    --title-font: font-family: 'Alfa Slab One', cursive;

}

/* la pagina de font family es https://fonts.google.com */

body{
    margin: 0;
    padding: 0;
    background: var(--dark-primary-color);
    font-family: var(--body-font);
    font-size: 16px;
}


.header{
   background: rgb(7, 28, 51);
   color: var(--text-icons);
    
}

.header a{
    color: var(--text);
    text-decoration: none;
}


.hero{
    border: solid 2px red;
    height: 300px;

}


h1, h2, h3, h4, h5 .h6{
    font-family: var(--title-font);
    font-size: 23px;
}

strong{
    color: rgb(187, 224, 255);
}


h1{
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: -3px;
}

.project-details{
width: 500px;
border: solid 2px red;
}

.project-img-container{
    width: 500px;
    border: solid 2px red;

}
