:root{
    /* --body-color: #3251ff;
    --dark-primary-color: rgb(12, 48, 87);
    --light-primary-color: rgb(59, 82, 100);
    --primary-color: rgb(18, 91, 151);
    --text: #ffffff;
    --accent-color: #009688; */
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: rgb(170, 169, 169);
    --body-font: 'Source Sans Pro', sans-serif;
    --title-font: font-family: 'Alfa Slab One', cursive;

}

.logo{
    list-style: none;
}

/* .logo:hover{
    background-image: url("../img/logo-negro.png")
} */


/* la pagina de font family es https://fonts.google.com */


body{
    color: white;
    margin: 0;
    padding: 0;
    /* background: var(--dark-primary-color); */
    background: linear-gradient(to top right, #00537E, #3AA17E);
    font-family: var(--body-font);
    font-size: 16px;

}


/* * Clases utilitarias */

.wrapper{
    /* border: 1px solid red; */
    width: 1200px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: inherit;
    

}




.header{
   background: rgb(7, 28, 51);
   color: var(--text);
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 75px;
}


.header ul li{
   margin: 0 15px;
   list-style: none;
}

.header ul{
    list-style: none;
    display: flex;
    padding: 0;
    font-size: 20px;

}

.header a{
    color: var(--text);
    text-decoration: none;
}


.header a:hover{
    color: yellow;
}



.hero{
    /* border: solid 2px red; */
    height: 300px;
    background: var(--primary-color);
    /* background-image: url("../img/portada.jpg"); */
    background-size: 675px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;

}


.hero h1{
    padding-right: 40px;
}



.hero strong{
    color: rgb(187, 224, 255);
}


h1, h2, h3, h4, h5, h6{
    font-family: var(--title-font);
    font-size: 23px;
    font-weight: 500;
}



h1{
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: -3px;
}



.portafolio{
    background: var(--light-primary-color);
    padding: 6px;

}


h2{
    color: var(--text);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 25px;
}



.project{
    border: 1px solid #fafafa;
    border-radius: 6px;
    margin: 20px;
    background: linear-gradient(to top right, rgb(24, 24, 24), rgb(121, 121, 121));
    display: flex;
    padding: 20px;
    height: 415px;
    justify-content: space-between;
    align-items: center;
    /* rgb(37, 37, 37) */
}



.project-details{
width: 500px;
/* border: solid 2px red; */
}


.project-title{
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 10px;
}


.project-subtitle, .project-date, .project-url{
    margin: 10px 0;
}

.project-description{
    font-size: 20px;
}

.project-img-container{
    width: 700px;
    /* border: solid 2px red; */

}



.experience-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.experience{
   margin: 10px;
   border: 3px #006064 solid;
   width: 480px;
   background: linear-gradient(to top right, rgb(3, 13, 146), rgb(93, 151, 228));
   border-radius: 15px;
   overflow: hidden;
   flex-shrink: 0;
   width: 400px;

}



.experience-details{
    margin: 20px;
    background: rgb(73, 106, 216);
    margin-top: -81px;
    position: relative;
    padding: 15px;
    text-align: center;

}


.experience-description{
    text-align: left;
}


.experience-url{
    color: black;
    text-decoration: none;
    border: 1px solid rgb(1, 49, 49);
    border-radius: 3px;
    padding: 5px 20px;
    transition: 300ms all;
    background: #18ffff;
}


.experience-url:hover{
    background: #eb5d0b;
    color: black;
}


.experience-img-container{
    margin: 0;
}


.experience-img{
    width: 420px;
    height: 320px;
    object-fit: cover;

}


.contact{
    background: rgb(38, 137, 218);
    color: white;
    /* height: 90px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}

.contact-form-label{
    display: block;
    /* margin: 10px; */
    font-weight: 700;
    font-size: 21px;
    padding-top: 10px;


}


.contact-form-email{
 border: 1px solid grey;
 border-radius: 50px;
 padding: 5px 20px;
 padding-left: 25px;
 background-image: url("../img/envelope.svg");
 background-size: 15px;
 background-repeat: no-repeat;
 background-position-y: center;
 background-position-x: 5px;
 margin: 10px 0;

}


.contact-form-button{
    text-transform: uppercase;
    font-size: 12px;
    color: red;
    display: block;
    margin-top: 10px;
    background: transparent;
    color: var(--text);
    border-radius: 5px;
    padding: 10px 16px;
    width: 100px;
    margin-bottom: 5px;
    

}




.social-container{
    /* border: 1px solid red; */


}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    /* border: 1px solid white; */
    background-size: 50px 50px;
    margin-left: 20px;
    margin-right: 10px;
    

}


.social-link.facebook{
    background-image: url("../img/facebook.svg");
    
}


.social-link.instagram{
    background-image: url("../img/instagram.svg");

}


.social-link.whatsapp{
    background-image: url("../img/whatsapp.svg");

}


.social-link.github{
    background-image: url("../img/github.svg");
}




.footer{
    background: var(--primary-color);
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}


.footer a{
    color: white;
    text-decoration: none;
}


.footer a:hover{
    color: black;
}