:root{
    --dark-primary-color: rgb(12, 48, 87);
    --light-primary-color: rgb(97, 115, 129);
    --primary-color: rgb(22, 100, 163);
    --text: #ffffff;
    --accent-color: #009688;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
    --body-font: 'Source Sans Pro', sans-serif;
    --title-font: font-family: 'Alfa Slab One', cursive;

}

/* la pagina de font family es https://fonts.google.com */

body{
    color: white;
    margin: 0;
    padding: 0;
    background: var(--dark-primary-color);
    font-family: var(--body-font);
    font-size: 16px;
}


.header{
   background: rgb(7, 28, 51);
   color: var(--text);
    
}

.header a{
    color: var(--text);
    text-decoration: none;
}


.hero{
    /* border: solid 2px red; */
    height: 300px;
    background: var(--primary-color);
    background-image: url("../img/portada.jpg");
    background-size: 675px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.hero strong{
    color: rgb(187, 224, 255);
}


h1, h2, h3, h4, h5 .h6{
    font-family: var(--title-font);
    font-size: 23px;
}

h1{
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: -3px;
}

.portafolio{
    background: var(--light-primary-color);

}


.project{
    border: 1px solid #fafafa;
    border-radius: 6px;
    margin: 20px; 
    background: rgb(37, 37, 37);
    display: flex;
    padding: 20px;
    height: 415px;
}


.project-details{
width: 500px;
/* border: solid 2px red; */
}

.project-img-container{
    width: 400px;
    /* border: solid 2px red; */

}
